body{
    background-color:#5D737E;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
  }
  .foto-fer{
    border-radius: 100px;
    float: left;
    max-width: 50%;
    padding: 10px;
    background-color: grey;
    position: relative;
  }
  #ferbio{
    font-family: fantasy;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    top: 110px;
    left: 250px;
    margin: 5%;
  }
  .listaul{
    line-height: 40px;
    font-weight: bold;
    text-decoration:none;
  }
  .hobbiesclass{
    font-size: 20px;
    line-height: 35px;
  }
  .qualidadesclass{
    font-size: 25px;
    line-height: 35px;
  }
  .button{
    color: white;
    background-color:#036b52;
    padding: 3px 3px;
    border-radius: 100px;
    text-decoration: none;
    margin: 5px;
  }
.imagemfer{
  height: 330px;
}
li.qualidadesclass:nth-child(odd){
  background-color: indianred;
}
li.qualidadesclass:nth-child(even){
  background-color: indigo;
}